.link__container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.link__article {
    display: flex;
    flex-direction: column;
    width: 980px;
    gap: 20px;
    padding: 20px;
    background-color: white;
    color: rgb(112, 112, 112);
    border-radius: 8px;
}

.link__article__title h2 {
    font-size: 2rem;
    color: #333;
}

.link__article__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link__button__add {
    width: 100%;
    font-weight: bold;
    padding: 10px;
    color: #5942c8;
    border: 1px solid #5942c8;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
}

.link__button__add:hover {
    background-color: #7b64ec;  
    border: 1px solid #7b64ec;
    color: white;
}

.button__container{
    display: flex;
    justify-content: flex-end;
}